/**************************
* Title: Portfolio Site CSS
* Author: Sam Prowse
**************************/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

a{
    color: black;
}

a:hover {
    color: black;
    text-decoration:none;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}

.blurb {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 60px;
}

.row { 
  margin-bottom: 60px;
}

.button-copy {
  margin-top: 20px;
}

.email-address {
  border: none;
  text-align: center;
  color: #333;
  float: left;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header img.profile{
    border-radius: 100%;
}

.text-small{
    font-size:0.85rem;
}


/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/

.card{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s;
}

.card-subtitle {
    font-weight: 300;
}

.card-text {
    color: #777;
    font-weight: 200;
}

.card-link {
    color: 
}

.card:hover{
    transform: scale(1.02);
}

.badge a{
    color: white;
}

.image-block {
    background-color: #414e63;
}

.image-block img {
    opacity: 0.9;
}

.image-block img:hover{
    opacity: 1;
}
