html,
body
{
	height: 100%;
}
body
{
	font-family:sans-serif;
	margin:0;
}
html *,
body *
{
	box-sizing:border-box;
	margin:0;
}
body::before
{
	background: rgba(0,0,0,0);
	content: "";
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	transition: background 1s ease-out, z-index 1s linear;
	width: 100vw;
	z-index: -1;
}
body.Busy::before
{
	content: "";
	background: rgba(0,0,0,.75);
	transition: background .5s ease-out;
	z-index: 1;
}
body.Busy #Page_Header::after
{
	background: rgba(0,0,0,.66);
	content: "";
	height: var(--height-page-header);
	left: 0;
	position: fixed;
	top: 0;
	transition: background .5s ease-out;
	width: 100%;
	z-index: 1;
}
body.Busy #Page_Header,
body.Busy shopping-cart,
body.Busy #Page_Content
{
	filter: blur(5px);
	pointer-events: none;
}


html {
    font-size: 16px;
}