.js-loading *,
.js-loading *:before,
.js-loading *:after
{
	animation-play-state: paused !important;
}

body
{
	background: #CCC;
	grid-template-rows: 283px minmax(399px, 1fr) 90px;
}
form
{
	position: relative;
}

@keyframes FLEX
{
	0%
	{
		font-weight: normal;
	}
	30%
	{
		letter-spacing: 0px;
		margin-left: 0;
		font-weight:900;
		-webkit-text-stroke: 1px var(--flex-stroke-color,#FFF);
	}
	55%
	{
		letter-spacing: 0px;
		margin-left: 0;
		font-weight:900;
		-webkit-text-stroke: 1px var(--flex-stroke-color,#FFF);
	}
	100%
	{
		font-weight:normal;
		letter-spacing: 46px;
		margin-left: 24px;
	}
}
@keyframes LogoMove
{
	0% { bottom: 45%; }
	100% { bottom: 0; }
}
#Page_Footer
{
	animation: LogoMove 500ms ease-out 2500ms forwards;
	background: url(../images/ui/login/TVC_footer_200324_1425.png) 50% 0 no-repeat;
	bottom: 45%;
	height: 90px;
	position: absolute;
	width: 100%;
}
#Page_Footer::before
{
	animation: FLEX 1500ms ease-in-out forwards 200ms;
	color: #FFF;
	content: "FLEX";
	font-family:sans-serif;
	font-size: 14px;
	left: 50%;
	letter-spacing: 46px;
	line-height: 16px;
	margin-left: 24px;
	position: absolute;
	top: 51px;
	transform: translateX(-50%);
}

form:not(.Register) .register-only,
form.Register .login-only
{
    display: none;
}
button.login-only.register::before
{
    content: "register...";
}
button.forgot::before
{
	content: "forgot your login?";
}
button.register-only.cancel::before
{
    content: "cancel";
}
button.register-only.register::before
{
	content: "register";
}
button.login::before
{
	content: "login";
}

:root
{
	--help-delay-start: 4500ms;
}
.help-registration
{
	bottom: 50%;
	right: 50%;
	--help-title: "Registering for Site Access";
}
